

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.title {
	color: white !important;
}

.container {
	width: 100%;
}

footer
{
	text-align: center;
}













