

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1, h2, h3
{
	display: inline-block;
	margin: 0;
}

.title
{
	color: white !important;
}

td
{
    text-align: center;
}

th
{
	font-weight: bold;
	text-align: center;
}

tr
{
	border: 1px solid #ddd !important;
}

.container {
	width: 100%;
}

footer
{
	color: white;
	text-align: center;
	background-color: rgba(50, 50, 50, 1);
}

.alert
{
	text-align: center !important;
}

nav
{
	box-shadow: 0px 0px 5px;
}

section
{
	padding: 20px;
}

body
{
	padding-top: 50px;
	padding-bottom: 20px;
}

.privillegeValue
{
	text-align: right;
}







